* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
	width: 100%;
    box-sizing: border-box;
	z-index: 9998;
	position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header__banner {
    display: block;
    width: 100%;
    margin: 0;
    pointer-events: none;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    width: 100%;
    background-color: white;
    z-index: 9999;
    margin-top: -1px;
}

.menu {
    background-color: #ddffc6;
}

nav .menu {
    list-style-type: none;
}

nav .menu__part {
    float: left;
    width: 11.111%;
    text-align: center;
    margin-top: 4px;
}

nav .menu::after {
    content: "";
    display: table;
    clear: both;
}

nav .menu__part__link {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 0.3rem;
    font-family: 'French Script MT';
    font-size: 29px;
    line-height: 42px;
}

nav .menu__part__link:hover {
    color:#df161a;
}

.submenu {
	visibility: hidden;
	box-shadow: 0 0.06rem 0.125rem rgb(44, 44, 44);
	background-color: #ddffc6;
	padding-left: 0;
    margin-left: 0.3rem;
	position: absolute;
	list-style-type: none;
    width: 13%;
	z-index: 1000;
	opacity: 0;
	transform: translateY(-5px);
	transition: opacity .5s, visibility .5s, transform .2s;
}

.submenu a {
    font-family: 'French Script MT';
    font-size: 1.5rem;
    text-decoration: none;
    color:black;
}

.submenu a:hover {
    color:#df161a;
}

nav > ul li:hover .submenu {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.submenu li{ /* Les éléments des sous-menus doivent s'afficher les uns en dessous des autres */
	float: none;
	width: 100%;
	text-align: left;
}

.submenu a{ /* Mise en forme des onglets des sous-menus */
	padding: 0.625rem;
	border-bottom: none;
    color:black;
    display: flex;
    align-items: center;
}
.submenu a:hover{
	border-bottom: none;
	background-color: rgba(200,200,200,0.1);
}

.submenu__part {
    overflow: hidden;
    display:grid;
}

.submenu__part:not(:last-child) {
    margin-bottom: -0.75rem;
}

.scrolling-menu > a::after{ /* Symbole ▼ pour faire comprendre que c'est un menu déroulant */
	content: "▼";
	font-size: 0.75rem;
}

.picture__container {
    display: flex;
    justify-content: center;
}

.container {
    margin: 40px auto; 
}

#painting {
    width: 30rem;
    margin-bottom: 1rem;
}

.centered-div-text {
    display:flex;
    justify-content: center;
    margin: auto 9.5rem;
}

.centered-text {
    display: block;
    text-align: center;
    margin: 0.5rem auto -1.1rem auto;
}

.paragraph {
    line-height: 1.45rem;
    font-size: 18px;
}

.calligraphy-letter {
    font-family: 'Lucida Calligraphy';
}

.bold-text {
    font-weight: bold;
}

.text-author {
    color: rgb(90, 90, 90);
    font-size: 1.03rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: rgb(113, 113, 255);
    color:#4b4c4d;
    cursor: default;
}
  
footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    opacity: 0.8;
}
  
footer li {
    padding:0 10px;
}
  
footer ul a {
    color:inherit;
    text-decoration:none;
}
  
footer ul a:hover {
    opacity:1;
}
  
footer .social {
    text-align:center;
    padding-bottom:25px;
}
  
footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
  
footer .social > a:hover {
    opacity:0.9;
}
  
footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
