* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header__banner {
    position: sticky;
    top: 0;
    display: block;
    width: 100%;
    margin: 0;
    pointer-events: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.menu {
    margin-top: -1rem;
    background-color: #bef39b;
}

nav .menu {
    list-style-type: none;
}

nav .menu__part {
    float: left;
    width: 11.111%;
    text-align: center;
}

nav .menu::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    width: 100%;
    margin: 16px 0 auto auto;
    background-color: white;
    position: sticky;
}

nav .menu__part__link {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 0.5rem;
    font-family: 'BalanineSerial';
    font-size: 30px;
    line-height: 50px;
}

nav .menu__part__link:hover {
    color:coral;
}
